
@{

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    
}


<div class="container">
    <div class="card" style="width:17rem">
       
        <div class="card-body text-center">
            <h5>@ViewBag.name</h5>
            <img src="~/img/jems.jpg" class="rounded-circle h-50 w-50" />
            <br/>
            <button class="btn btn-light mt-2" type="button">Edit Profile</button>
            <hr />
          
        </div>
    </div>
</div>

