@{
    ViewData["Title"] = "Privacy Policy for Restify";
}
<h1>@ViewData["Title"]</h1>

<p>
    
    <br />
    At Restify, we are committed to safeguarding the privacy of our users while providing a seamless and secure online experience for browsing available rental apartments and advertising properties. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our online web application.
    <br />
    <br />
    <br />
    <strong> Information We Collect:</strong>
    <br />
    1. Personal Information: When you create an account or use our services, we may collect personal information such as your name, email address, contact number, and billing information.
    <br />
    2. Property Information: If you choose to advertise your apartment, we may collect information about your property, including its location, features, images, and rental details.
    <br />
    3. Usage Data: We may collect information about how you interact with our website, such as the pages you visit, the searches you conduct, and your preferences.
    <br />
    <br />

    <strong>How We Use Your Information:</strong>
    <br />
    1. To Provide Services: We use the information collected to deliver the services you request, such as browsing available apartments or advertising properties.
    <br />
    2. To Improve Our Services: We analyze usage data to improve the functionality and user experience of our web application, including personalizing content and recommendations.
    <br />
    3. To Communicate: We may use your contact information to send you important updates, notifications, or promotional offers related to our services.
    <br />
    4. For Security Purposes: We may use your information to detect, prevent, and address technical issues or security vulnerabilities.
    <br />
    <br />
    <strong>Sharing Your Information:</strong>
    <br />
    1. Third-Party Service Providers: We may share your information with trusted third-party service providers who assist us in delivering our services, such as hosting providers, payment processors, or analytics platforms.
    <br />
    2. Legal Compliance: We may disclose your information when required by law, regulation, or legal process, or to protect our rights, property, or safety, or the rights, property, or safety of others.
    <br />
    <br />
    <strong>Data Security:</strong>
    <br />

    We implement appropriate technical and organizational measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.
    <br />
    <br />
    <strong>Your Choices and Rights:</strong>
    <br />
    1. Account Settings: You can review and update your account information through your account settings.
    <br />
    2. Communication Preferences: You can choose to opt-out of receiving promotional emails or notifications from us by adjusting your communication preferences.
    <br />
    3. Access and Correction: You have the right to access, correct, or delete your personal information. If you need assistance with this, please contact us.
    <br />
    <br />
    <strong>Changes to this Privacy Policy:</strong>
    <br />
    <br />
    We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any significant changes by posting the new Privacy Policy on this page.
    <br />
    <br />
    <strong>Contact Us: restify@gmail.com</strong>
    <br />
    <br />
    If you have any questions or concerns about our Privacy Policy or data practices, please contact us at contact@example.com.
    <br />
    <br />
    By using our web application, you consent to the collection, use, and disclosure of your information as described in this Privacy Policy.
</p>
